<h1>My Tasks</h1>
<div class="row">
  <div class="col-12">
      <% @tasks.each do |task| %>
      <div>
        <%= check_box_tag '', '', task.completed %>
        <%= link_to task.title, task_path(task) %>
      </div>
      <% end %>
  </div>
  <br>
  <%= link_to %>
</div>
