<h1>My Tasks</h1>
<div class="row">
  <div class="col-12">
      <% @tasks.each do |task| %>
      <div>
        <%= check_box_tag '', '', task.completed %>
        <%= link_to task.title, task_path(task) %> | <%= link_to raw('<i class="fas fa-trash-alt"></i>'), task_path(task), method: :delete %> |
      </div>
      <% end %>
  </div>
</div>
<hr>
<div class="row">
  <%= link_to "Add new Task", task_new_path() %>
</div>
